[submodule "themes/terminimal"]
	path = themes/terminimal
	url = https://github.com/pawroman/zola-theme-terminimal.git
[submodule "content/posts"]
	path = content/posts
	url = git@github.com:arch4e/blog-posts.git
